<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>B站看板娘集合</title>
  <link href="http://lib.baomitu.com/bulma/0.6.2/css/bulma.min.css" rel="stylesheet">
  <style>
    #app .list {
      width: 200px;
    }
    #app .list li {
      margin-bottom: 10px;
    }

    #app .wrap {
      display: flex;
    }

    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        bilibili 看板娘集合 (22娘，33娘)
      </p>
      <p class="subtitle">
        基于 GitHub Pages 预览，资源加载可能略慢，请耐心等待。
      </p>
    </div>
  </div>
</section>

<div id="app" class="section" v-cloak>
  <div class="container">
    <h2 class="subtitle">点击更换服装</h2>
    <div class="wrap">
      <ul class="list">
        <li v-for="it of list22" @click="selectModel(it)"><a class="button is-info is-small is-outlined">{{ it.name }}</a></li>
      </ul>

      <ul class="list">
        <li v-for="it of list33" @click="selectModel(it)"><a class="button is-info is-small is-outlined">{{ it.name }}</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="http://lib.baomitu.com/jquery/2.2.4/jquery.min.js"></script>
<script src="http://lib.baomitu.com/vue/2.5.13/vue.min.js"></script>
<script src="/bilibili-haruna/assets/live2d-widget/L2Dwidget.min.js"></script>
<script>

function init(model) {
  L2Dwidget.init({
    model: {
      jsonPath: model
    },
    react: {
      opacityDefault: 1,
      opacityOnHover: 1
    }
  });
}

var app = new Vue({
  el: '#app',
  data: {
    list22: [],
    list33: []
  },
  methods: {
    selectModel: function(it) {
      init('/bilibili-haruna/assets/' + it.model);
    }
  }
});

$.get('/bilibili-haruna/assets/haruna/models.json', function(data) {
  var list = data.list.slice(0);
  app.list22 = data.list;
  app.list33 = list.map(function(it) {
    return {
      name: it.name.replace('22', '33'),
      model: it.model.replace('22', '33'),
    };
  });
});

init('/bilibili-haruna/assets/haruna/22/model.default.json');
</script>
</body>
</html>